<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">WELCOME</h1>
      </div>
    </div>
  </div>
  <div class="container">

    <h1>SOMA DOME</h1>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Nglwtm0-8nTGFOrPbWY98E7c6pBMXatP" width="1000" height="480"></iframe>

  
    <!--div class="form-group">
      <label>Enter address</label>

      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
  
    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div-->
      <br><br><br><br>
      <div></div>
  </div>